@model List<DAL.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Produtos";
}

<div class="row">
    @foreach(var i in Model)
    {
        <div class="col-3">
            <div class="card w-100">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <a href="#">
                            <img src="@Url.Content(i.ProductImages.FirstOrDefault().ImagePath)" class="product-image" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>